<%= render 'list', booke: @books %>

      <div class="col-md-8 offset-md-1">
  		  <h2>Book detail</h2>
  		    <table class="table">
  		      <tbody>
              <tr>
                <td>
                  <a href="/users/<%= @book.user.id %>">
                  <%= image_tag @book.user.get_profile_image(75,75) %>
                  <br>
                  <%= link_to @book.user.name, user_path(@book.user) %>
                  </a>
                </td>
                  <td>
                    <a href="/books/<%= @book.id %>"><%= @book.title %></a>
                  </td>
                  <td><%= @book.body %></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</main>